.navbar-div {
  background-color: beige;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 10px;
}
.logo{
  justify-self: flex-start;
  border-radius: 50%;
  width: 100px;
  height: 100px
}
